Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.svn-base
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.svn*/
[Bb]in
[Dd]ebug*/
*.pdsync
*.pdsyncu
*.orig
