<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="IMatrix.ERP.Win"
			FileName="[WinAppBin]\IMatrix.ERP.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="IMatrix.ERP.Web"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/>
		<!-- For IIS -->
		<!--Application
			Name="IMatrix.ERP.Web"
			Url="http://localhost/IMatrix.ERP.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(localdb)\v11.0" DBName="IMatrix.ERPEasyTest"/>
	</TestDatabases>

	<Aliases>
		<Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
		<Alias Name="WinAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WinAdapter.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\IMatrix.ERP.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\IMatrix.ERP.Web" />
	</Aliases>
</Options>
